<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://mcprod.jumbo.ae/media/dynamicdashboard/images/items/2/_/2_s24_series_buynow__homepagebanner_1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://mcprod.jumbo.ae/media/dynamicdashboard/images/items/_/1/_1706809058677_677_honor-magic-v2_jan-2024_pre-order__home-page-desktop.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://mcprod.jumbo.ae/media/dynamicdashboard/images/items/4/_/4_hsbc-promotion_feb-2024__home-page_desktop.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://mcprod.jumbo.ae/media/dynamicdashboard/images/items/4/_/4_motorola-razr-40-ultra_feb-2024_kriti__home-page_desktop.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>