.trends{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.95);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
}

.trending{
    
    margin-top: 40px;
    color:white ;
    background-color:  #214b57;
}

.sale{
    color: darkgreen;
}


/* 214b57 */

/* 43C6AC */


