

<div class="trending p-1 ps-5">
    <h1>Now Trending</h1>
</div>

<div class="container trends pb-2 mt-2 mb-3">
    <h3>Electronics</h3>
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="https://rukminim2.flixcart.com/image/312/312/xif0q/computer/q/e/z/-original-imagpxgqesgrthks.jpeg?q=70" style="height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="text-centercard-text">ASUS Vivobook 15</h6>
                </div>
                </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="https://rukminim2.flixcart.com/image/400/400/xif0q/dslr-camera/i/d/6/eos-r5-24-105-45-r5-canon-original-imagkk365tvry2gz.jpeg?q=70" style="height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="text-center card-text">Cannon EOS R50</h6>
                </div>
                </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="https://rukminim2.flixcart.com/image/400/400/jpmxuvk0/printer-refurbished/z/r/z/u-ts207-canon-original-imafbu3xpytszpgx.jpeg?q=70" style="height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="text-center card-text">Cannon LaserJet</h6>
                </div>
                </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="https://rukminim2.flixcart.com/image/400/400/xif0q/monitor/s/g/u/-original-imagzrf84gyqeste.jpeg?q=70" style="height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="text-center card-text">Acer NITRO Monitor</h6>
                </div>
                </div>
        </div>
    </div>
</div>

<div class="container trends pb-2  mb-3">
    <h3>Toys, Groceries & More</h3>
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="https://rukminim2.flixcart.com/image/400/400/acoustic-guitar/e/y/y/dd-380c-blk-jixing-original-imaeff94e9tczafp.jpeg?q=70" style="height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="text-center card-text">String Instruments</h6>
                </div>
                </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="https://rukminim2.flixcart.com/image/400/400/l58iaa80/electric-cycle/i/y/f/-original-imagfykthgudy4qz.jpeg?q=70" style="height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="text-center card-text">Electric Cycles</h6>
                </div>
                </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="https://rukminim2.flixcart.com/image/400/400/kzegk280/action-figure/9/v/t/3-30155-mcfarlane-2-5-original-imagbeyyzehpyk2m.jpeg?q=70" style="height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="text-center card-text">Action Toys</h6>
                </div>
                </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="https://rukminim2.flixcart.com/image/400/400/klzhq4w0/jam-spread/w/q/u/510-chocolate-peanut-butter-crunchy-510g-jar-nut-butter-original-imagyzpqqfaguxny.jpeg?q=70" style="height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="text-center card-text">Food Spread</h6>
                </div>
                </div>
        </div>
    </div>
</div>

<div class="container trends pb-2  mb-3">
    <h3>Season Sale</h3>
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/t-shirt/u/9/q/-original-imaghgy8arrwdc2p.jpeg?q=70" style="height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-text">Mens Clothing</h6>
                    <h6 class="sale">Min. 50% Off</h6>
                </div>
                </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/backpack/4/p/p/-original-imagh3w9ujuu3u2e.jpeg?q=70" style="height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-text">Laptop Bags</h6>
                    <h6 class="sale">Min. 70% Off</h6>
                    
                </div>
                </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/watch/m/a/i/-original-imagrcjkpwzzbttr.jpeg?q=70" style="height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="text-center card-text">Wrist Watches</h6>
                    <h6 class="sale">Min. 90% Off</h6>

                </div>
                </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/sandal/h/z/e/10-sndl-1061-blu-bruton-blue-original-imagvghxpyryzatb.jpeg?q=70" style="height: 13rem;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="text-center card-text">Men's Sandals & Floaters</h6>
                    <h6 class="sale">Min. 70% Off</h6>
                </div>
                </div>
        </div>
    </div>
</div>